.roulette-form {
  background-image: none;
  width: 50vw;
  height: auto;
}

.roulette-custom {
  margin-top: 0;
}

.roulette-game-box .roulette-custom {
  border: 2px solid #00c400;
  -webkit-box-shadow: 0px 0px 50px -7px #00c400;
  -moz-box-shadow: 0px 0px 50px -7px #00c400;
  box-shadow: 0px 0px 20px -7px #00c400;
}

.checkbox-label {
  color: #016d29;
  padding: 0px 10px 0px;
}

.roulette-form-row {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.game-option {
  margin-bottom: 10px;
}

.error-message {
  color: #e0080b;
}

.roulette-form .messages-group {
  background-color: rgb(57, 57, 57);
  color: white;
  padding: 10px 0;
  margin: 0 20px;
  border-radius: 10px;
  box-shadow: inset 0 0 20px rgb(16, 16, 16);
}

.roulette-form .messages-group .message-title {
  font-weight: bold;
  margin-bottom: 10px;
}

.roulette-form .result p {
  margin: 0;
  padding: 10px;
  font-size: large;
}

.roulette-form .message {
  color: white;
  margin: 0;
}

.one-armed-bandit .form-floating {
  margin: 40px 25px;
}

.auth-form {
  padding: 50px;
  margin-top: 50px;
  min-height: auto;
}

.roulette-form {
  min-height: 60vh;
}

.roulette-form .game-option select {
  width: 100%;
  background-color: rgb(44, 44, 44);
  color: #d9ac84;
  border-radius: 10px;
  padding: 18px;
  border: none;
  border-bottom: 2px solid white;
}

.roulette-form .auth-form h1 {
  padding-bottom: 20px;
}
