.App {
  text-align: center;
  height: 100vh;
}

.auth-page {
  height: 94vh;
  width: 100%;
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-form {
  width: 40vw;
  padding: 40px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075), 0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
}

.auth-form .mb-3 .btn {
  padding: 15px;
  width: 200px;
  border-radius: 15px;
  background-color: rgb(42, 42, 255);
  border: 1px solid rgb(42, 42, 255);
  color: rgb(255, 255, 255);
  box-shadow: 0 0 4px blue;
  font-weight: 500;
}

.auth-form .mb-3 .btn:hover {
  background-color: blue;
  border: 1px solid rgb(40, 44, 255);
  box-shadow: 0 0 15px rgb(26, 41, 255);
}

.auth-form .submit-group p {
  height: 30px;
  color: red;
}
